<div class="container well">
  Welcome to my e-commerce site. This is made with Ruby on Rails and React.js. The payments page goes directly to E-xact.<br>
  This site also uses CryptoJS to generate new HMAC-md5 hash according to the values of needed to pass in to the E-xact system. If no activity is present for a while, the checkout button will be disabled. so be careful with that.<br>
  After paying the items that you have bought, you will be directed to the receipt page where you can review your bought items.
  <br><br>
  happy shopping
  <br>
  Paulo A.
</div>
<%= react_component('Index', items: @items, image: @image) %>