<div class="container">
  <div class="well">
    <h2><%= @merchant_name %></h2>
    Thank you for buying these awesome products! <br>
    <%= link_to 'Continue Shopping', root_path, class: "btn btn-default" %> <br>

    <strong><%= @auth_num %> </strong>

    <br>
    <%= @ctr %> <br>
  </div>
</div>