.col-md-6 {
  padding: 0;
}

.item-card {
  width: 45%;
  display: inline-block
}

h3 {
  margin-top: 0;
}

img{
  height: 128px;
  width: auto;
}

.item-description{
  text-align: right;
}

.well {
  margin-left: 15px;
}