<!DOCTYPE html>
<html>
<head>
  <title>EXact</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-md5.js"></script>
</head>
<body>

<header>
  <div class="container">
    <h1> Welcome to my ECommerce Site </h1>
  </div>
</header>

<%= yield %>

</body>
</html>
