<!DOCTYPE html>
<html>
<head>
  <title>EXact</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-md5.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
